@import 'client/style.scss';

#overlay {
  position: fixed;
  top: 0;
  z-index: 9999;

  &.block {
    height: 100%;
    width: 100%;
  }

  > .focus {
    box-shadow: 0 0 0 9999px rgba(0, 0, 0, 0.8);
    opacity: 0;
    pointer-events: none;
    position: absolute;
    transition: opacity 0.3s, top 0.3s, left 0.3s, width 0.3s, height 0.3s;
  }

  > .guard {
    @include full-size;
    height: 100vh;
    width: 100vw;
  }

  > .label {
    background-color: black;
    color: white;
    display: none;
    font-size: 5vw;
    position: fixed;
    padding: 4%;
    width: 100%;
  }
}
