/*
 *  Copyright 2016 Shaunak Kishore (kshaunak "at" gmail.com)
 *
 *  This file is part of Inkstone.
 *
 *  Inkstone is free software: you can redistribute it and/or modify
 *  it under the terms of the GNU General Public License as published by
 *  the Free Software Foundation, either version 3 of the License, or
 *  (at your option) any later version.
 *
 *  Inkstone is distributed in the hope that it will be useful,
 *  but WITHOUT ANY WARRANTY; without even the implied warranty of
 *  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *  GNU General Public License for more details.
 *
 *  You should have received a copy of the GNU General Public License
 *  along with Inkstone.  If not, see <http://www.gnu.org/licenses/>.
 */

$base-background-color: #e4e4e4;
$box-shadow-size: 1vw 1vw 4vw;
$loading-icon-size: 20vw;

$font-family-base:                Georgia, serif !default;
$font-size-base:                  5vw !default;
$font-size-large:                 6vw !default;
$font-size-small:                 4vw !default;

$button-height:                   13vw !default;

$bar-height:                      13.5vw !default;
$bar-title-font-size:             6vw !default;

$item-font-size:                  5vw !default;
$item-padding:                    3vw !default;
$item-button-font-size:           5vw !default;

$toggle-width:                    13vw !default;
$toggle-height:                   7.75vw !default;

@import '{}/client/external/meteoric/_ionic.sass';

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

.platform-ios.platform-cordova:not(.fullscreen) {
  .has-header { top: 13.5vw }
  .bar-header:not(.bar-subheader) {
    height: 13.5vw;
    > * { margin-top: 0; }
  }
}

.ionic-body {
  .bar {
    box-shadow: $box-shadow-size rgba(0, 0, 0, 0.2);

    .back-button {
      border: none;
      max-height: none;
      padding: 0 2%;
      position: absolute;

      bottom: 0;
      left: 0;
      top: 0;

      &:active {
        color: #00c0ff;
      }

      .back-text {
        font-size: $font-size-base;
        padding: 11 * $font-size-base / 20 0;
        vertical-align: top;
      }

      .icon {
        line-height: 12.5vw;
        vertical-align: middle;
      }
    }

    .back-button, .back-text, .title {
      transition-property: none;
    }

    .title.title-center {
      left: 0 !important;
      line-height: 14vw;
      right: 0 !important;
    }
  }

  .view {
    background-color: $base-background-color;

    .block {
      box-shadow: $box-shadow-size rgba(0, 0, 0, 0.1);
      margin: 5% auto;
      width: 90%;

      > .item {
        &.item-divider {
          border-width: 0.25vw 0 0 0;
          background-color: white;
          color: $dark;
          font-weight: bold;
          margin: 0;
          padding: 2vw 3vw;

          &:first-child {
            border-width: 0;
          }

          > .right {
            float: right;
          }
        }

        &.item-toggle > .toggle {
          top: 2.5vw;
        }
      }
    }
  }
}

.ion-loading-d::before{
  animation: spin 1s infinite linear;
  content: "\f29c";
  display: inline-block;
  font-family: "Ionicons";
  font-size: $loading-icon-size;
  line-height: $loading-icon-size;
  vertical-align: top;
  width: $loading-icon-size;
}
