<!--
 *  Copyright 2016 Shaunak Kishore (kshaunak "at" gmail.com)
 *
 *  This file is part of Inkstone.
 *
 *  Inkstone is free software: you can redistribute it and/or modify
 *  it under the terms of the GNU General Public License as published by
 *  the Free Software Foundation, either version 3 of the License, or
 *  (at your option) any later version.
 *
 *  Inkstone is distributed in the hope that it will be useful,
 *  but WITHOUT ANY WARRANTY; without even the implied warranty of
 *  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *  GNU General Public License for more details.
 *
 *  You should have received a copy of the GNU General Public License
 *  along with Inkstone.  If not, see <http://www.gnu.org/licenses/>.
 -->

<template name="choices">
  {{#each group in this}}
    <div class="block group">
      {{#ionItem class="item-divider"}}
        {{group.label}}
      {{/ionItem}}
      {{#each list in group.lists}}
        {{#ionItem class="list-management-option"}}
          <div data-variable="{{list.variable}}">{{list.label}}</div>
        {{/ionItem}}
      {{/each}}
    </div>
  {{/each}}
</template>

<template name="choose_lists_to_delete">
  {{#ionic}}
    {{#contentFor "headerButtonLeft"}}
      {{> ionNavBackButton text="Done"}}
    {{/contentFor}}
    {{#contentFor "headerTitle"}}
      <h1 class="title">Delete Lists</h1>
    {{/contentFor}}
    {{#ionList}}
      {{> choices groups}}
    {{/ionList}}
  {{/ionic}}
</template>

<template name="choose_lists_to_import">
  {{#ionic}}
    {{#contentFor "headerButtonLeft"}}
      {{> ionNavBackButton text="Done"}}
    {{/contentFor}}
    {{#contentFor "headerTitle"}}
      <h1 class="title">Import Lists</h1>
    {{/contentFor}}
    {{#ionList}}
      {{> choices groups}}
    {{/ionList}}
  {{/ionic}}
</template>
