/*
 *  Copyright 2016 Shaunak Kishore (kshaunak "at" gmail.com)
 *
 *  This file is part of Inkstone.
 *
 *  Inkstone is free software: you can redistribute it and/or modify
 *  it under the terms of the GNU General Public License as published by
 *  the Free Software Foundation, either version 3 of the License, or
 *  (at your option) any later version.
 *
 *  Inkstone is distributed in the hope that it will be useful,
 *  but WITHOUT ANY WARRANTY; without even the implied warranty of
 *  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *  GNU General Public License for more details.
 *
 *  You should have received a copy of the GNU General Public License
 *  along with Inkstone.  If not, see <http://www.gnu.org/licenses/>.
 */

@import '{}/client/style.scss';

#assets {
  @include full-size;
  background-color: #eee;
  z-index: 99999999999;

  > .loader {
    font-size: 8 * $font-size / 7;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;

    > .progress-bar {
      border: $font-size / 14 solid black;
      height: 8 * $font-size / 7;
      margin: 6 * $font-size / 7 10% 0;
      width: 80%;

      > .progress {
        background-color: black;
        height: 100%;
      }
    }
  }
}
