/*
 *  Copyright 2016 Shaunak Kishore (kshaunak "at" gmail.com)
 *
 *  This file is part of Inkstone.
 *
 *  Inkstone is free software: you can redistribute it and/or modify
 *  it under the terms of the GNU General Public License as published by
 *  the Free Software Foundation, either version 3 of the License, or
 *  (at your option) any later version.
 *
 *  Inkstone is distributed in the hope that it will be useful,
 *  but WITHOUT ANY WARRANTY; without even the implied warranty of
 *  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *  GNU General Public License for more details.
 *
 *  You should have received a copy of the GNU General Public License
 *  along with Inkstone.  If not, see <http://www.gnu.org/licenses/>.
 */

@import '{}/client/style.scss';

$dark-color: black;
$light-color: #eee;

#assets {
  @include full-size;
  background-color: $light-color;
  color: #111;
  transform: translateY(100%);
  transition: transform 0.3s;
  z-index: 99999999999;

  > .loader {
    font-size: 8 * $font-size / 7;
    margin: 0 10%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 80%;

    > .status, .progress-bar, .header, .start {
      margin: 6 * $font-size / 7 0;
    }

    > .progress-bar {
      border: $font-size / 14 solid $dark-color;
      height: 8 * $font-size / 7;

      > .progress {
        background-color: $dark-color;
        height: 100%;
      }
    }

    > .header {
      font-size: 6 * $font-size / 7;

      &.error {
        color: #c00;
      }
    }

    > .start {
      border: $font-size / 14 solid $dark-color;
      border-radius: $font-size / 4;
      display: inline-block;
      padding: 4% 0;
      width: 68%;

      &:active {
        background-color: $dark-color;
        color: $light-color;
      }
    }
  }
}
