<!--
 *  Copyright 2016 Shaunak Kishore (kshaunak "at" gmail.com)
 *
 *  This file is part of Inkstone.
 *
 *  Inkstone is free software: you can redistribute it and/or modify
 *  it under the terms of the GNU General Public License as published by
 *  the Free Software Foundation, either version 3 of the License, or
 *  (at your option) any later version.
 *
 *  Inkstone is distributed in the hope that it will be useful,
 *  but WITHOUT ANY WARRANTY; without even the implied warranty of
 *  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *  GNU General Public License for more details.
 *
 *  You should have received a copy of the GNU General Public License
 *  along with Inkstone.  If not, see <http://www.gnu.org/licenses/>.
 -->

<template name="settings">
  {{#ionic}}
    {{#contentFor "headerButtonLeft"}}
      {{> ionNavBackButton text="Done"}}
    {{/contentFor}}
    {{#contentFor "headerTitle"}}
      <h1 class="title">Settings</h1>
    {{/contentFor}}
    {{#ionList}}
      <div class="block">
        {{#ionItem class="item-divider"}}
          Graphics
        {{/ionItem}}
        {{> ionToggle variable="settings.paper_filter" label="Paper Filter"}}
      </div>
      <div class="block">
        {{#ionItem class="item-divider"}}
          Writing
        {{/ionItem}}
        {{> ionSelect variable="settings.character_set"
                      label="Character Set" options=charsets}}
        {{> ionToggle variable="settings.reveal_order" label="Reveal Order"}}
        {{> ionToggle variable="settings.revisit_failures"
                      label="Revisit Failures"}}
        {{> ionToggle variable="settings.snap_strokes" label="Snap Strokes"}}
      </div>
      <div class="block">
        {{#ionItem class="item-divider"}}
          Reviews Per Day
          <div class="right">{{max_reviews}}</div>
        {{/ionItem}}
        {{> ionRange min="0" max="1000" step="100"
                     variable="settings.max_reviews"}}
      </div>
      <div class="block">
        {{#ionItem class="item-divider"}}
          New Cards Per Day
          <div class="right">{{max_adds}}</div>
        {{/ionItem}}
        {{> ionRange min="0" max="100" step="10"
                     variable="settings.max_adds"}}
      </div>
      <div class="block">
        {{#ionItem class="item-divider"}}
          Double-tap Speed
        {{/ionItem}}
        {{> ionRange min="0" max="1000" step="100" left="Fast" right="Slow"
                     variable="settings.double_tap_speed"}}
      </div>
    {{/ionList}}
  {{/ionic}}
</template>
