<!--
 *  Copyright 2016 Shaunak Kishore (kshaunak "at" gmail.com)
 *
 *  This file is part of Inkstone.
 *
 *  Inkstone is free software: you can redistribute it and/or modify
 *  it under the terms of the GNU General Public License as published by
 *  the Free Software Foundation, either version 3 of the License, or
 *  (at your option) any later version.
 *
 *  Inkstone is distributed in the hope that it will be useful,
 *  but WITHOUT ANY WARRANTY; without even the implied warranty of
 *  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *  GNU General Public License for more details.
 *
 *  You should have received a copy of the GNU General Public License
 *  along with Inkstone.  If not, see <http://www.gnu.org/licenses/>.
 -->

<template name="settings">
  {{#ionic}}
    {{#contentFor "headerButtonLeft"}}
      {{> ionNavBackButton text="Done"}}
    {{/contentFor}}
    {{#contentFor "headerTitle"}}
      <h1 class="title">Settings</h1>
    {{/contentFor}}
    {{#ionList}}
      <div class="block">
        {{#ionItem class="item-divider"}}
          Graphics
        {{/ionItem}}
        {{> ionInput variable="settings.canvas_width" type="number"
                     label="Canvas Width (%)"}}
        {{> ionToggle variable="settings.paper_filter" label="Paper Filter"}}
      </div>
      <div class="block">
        {{#ionItem class="item-divider"}}
          Scheduling
        {{/ionItem}}
        {{> ionInput variable="settings.max_adds" type="number"
                     label="New Cards Per Day"}}
        {{> ionInput variable="settings.max_reviews" type="number"
                     label="Reviews Per Day"}}
        {{> ionToggle variable="settings.revisit_failures"
                      label="Revisit Failures"}}
      </div>
      <div class="block">
        {{#ionItem class="item-divider"}}
          Writing
        {{/ionItem}}
        {{> ionSelect variable="settings.character_set"
                      label="Character Set" options=charsets}}
        {{> ionInput variable="settings.double_tap_speed" type="number"
                     label="Double-tap (ms)"}}
        {{> ionToggle variable="settings.reveal_order" label="Reveal Order"}}
        {{> ionToggle variable="settings.snap_strokes" label="Snap Strokes"}}
      </div>
      <div class="block danger">
        {{#ionItem class="item-divider"}}
          Danger Zone
        {{/ionItem}}
        {{#ionItem class="item-button clear-progress"}}
          Clear all progress
        {{/ionItem}}
        {{#ionItem class="item-button redownload-assets"}}
          Redownload assets
        {{/ionItem}}
      </div>
    {{/ionList}}
  {{/ionic}}
</template>

<template name="confirm_dangerous_action">
  <div id="confirm-dangerous-action">
    <div class="warning">
      This action cannot be undone. To continue,
      type "{{code}}" into the box below and press "Yes".
    </div>
    <input class="code" type="text">
  </div>
</template>
