<!--
 *  Copyright 2016 Shaunak Kishore (kshaunak "at" gmail.com)
 *
 *  This file is part of Inkstone.
 *
 *  Inkstone is free software: you can redistribute it and/or modify
 *  it under the terms of the GNU General Public License as published by
 *  the Free Software Foundation, either version 3 of the License, or
 *  (at your option) any later version.
 *
 *  Inkstone is distributed in the hope that it will be useful,
 *  but WITHOUT ANY WARRANTY; without even the implied warranty of
 *  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *  GNU General Public License for more details.
 *
 *  You should have received a copy of the GNU General Public License
 *  along with Inkstone.  If not, see <http://www.gnu.org/licenses/>.
 -->

<template name="lists">
  {{#ionic}}
    {{#contentFor "headerButtonLeft"}}
      {{> ionNavBackButton text="Done"}}
    {{/contentFor}}
    {{#contentFor "headerTitle"}}
      <h1 class="title">Lists</h1>
    {{/contentFor}}
    {{#ionList}}
      <div class="block">
        {{#ionItem class="item-divider"}}
          Customization
        {{/ionItem}}
        {{#ionItem class="customization-option import"}}
          Import a word list
        {{/ionItem}}
        {{#ionItem class="customization-option delete"}}
          Delete imported lists
        {{/ionItem}}
      </div>
      {{#each group in groups}}
        <div class="block group">
          {{#ionItem class="item-divider"}}
            {{group.label}}
          {{/ionItem}}
          {{#each list in group.lists}}
            {{> ionToggle label=list.label variable=list.variable}}
          {{/each}}
        </div>
      {{/each}}
    {{/ionList}}
  {{/ionic}}
</template>
